<%= form_with(model: message, url: [@chat, message], id: "new_message", class: "contents") do |form| %>
  <% if message.errors.any? %>
    <div class="cf-errors mb-4">
      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.text_area :content, rows: 3,
          placeholder: "message...",
          autofocus: true,
          class: "cf-textarea" %>
  </div>

  <%= form.button "send message", class: "cf-btn-primary bg-[var(--cf-orange)] hover:bg-[var(--cf-orange-press)] active:translate-y-px text-white rounded-full py-4 px-10" %>
<% end %>
