<% system ||= local_assigns[:message] %>
<div id="message_<%= system.id %>" class="w-full sm:w-auto my-5 space-y-3 rounded-md px-3 py-2 bg-gray-50 border border-gray-200">
  <div>
    <span class="inline-block rounded px-2 py-0.5 text-xs font-medium bg-gray-200 text-gray-700">
      System
    </span>
  </div>

  <div class="cf-body cf-prose text-gray-700"><%= markdown(system.content) %></div>
</div>
