<% user ||= local_assigns[:message] %>
<div id="message_<%= user.id %>" class="bg-[var(--cf-white)] rounded-[var(--cf-radius)] border border-[var(--cf-gray-line)] px-5 py-4">
  <div class="flex justify-between items-baseline gap-4 mb-2">
    <span class="cf-meta">you</span>
    <span class="cf-meta"><%= user.created_at&.strftime("%I:%M %p") %></span>
  </div>
  <div id="message_<%= user.id %>_content" class="cf-body whitespace-pre-wrap"><%= user.content %></div>
</div>
