<% content_for :title, "New chat" %>

<div class="min-h-screen">
  <div class="px-7 pt-8">
    <h1 class="cf-headline text-[clamp(72px,13vw,120px)] mb-10">NEW<br>CHAT</h1>

    <%= render "form", chat: @chat, seed_prompt: @seed_prompt %>
  </div>
</div>
