<% content_for :title, "Edit Instagram Post" %>

<div class="min-h-screen">
  <div class="px-7 pt-8 pb-14">
    <%= render "shared/back_link", path: script_instagram_post_path(@script), label: "go back to post" %>

    <h1 class="cf-headline text-[clamp(48px,8vw,120px)] mb-16">EDIT POST</h1>

    <div class="max-w-2xl">
      <%= render "form", instagram_post: @instagram_post, url: script_instagram_post_path(@script) %>
    </div>
  </div>
</div>
